@font-face {
    font-family: lokicola;
    src: url(../../assets/fonts/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: lokicola;
    font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    /* Give a 0 value, because there will be some defaut value which is not 0 */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 {
    font-family: lokicola;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 7px;
    margin-top: 22px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.navbar-coca-cola {
    background-color: #760003;
    border-width: 0px;
    min-height: 70px;
}

.navbar-coca-cola .navbar-brand {
    color: #FFFFFF;
}

.navbar-coca-cola .navbar-brand:hover {
    color: green;
}

.navbar-coca-cola .navbar-nav > li > a {
    color: white;
}

.navbar-coca-cola .navbar-nav > li > a:hover,
.navbar-coca-cola .navbar-nav > li > a:focus {
    color: green;
}

.navbar-coca-cola .navbar-nav .nav-item {
    margin-top: 0px;
}

.navbar-coca-cola .navbar-nav .nav-item > .active,
.navbar-coca-cola .navbar-nav > .active > a:hover,
.navbar-coca-cola .navbar-nav > .active > a:focus {
    background-color: #3399ff !important;
}

.navbar-coca-cola .navbar-nav > li > a:hover,
.navbar-coca-cola .navbar-nav > li > a:focus {
    color: green;
}

.navbar-coca-cola .navbar-toggler {
    border-color: white;
}
 
.navbar-coca-cola .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #ffffff22;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer .social a {
    color: #fff;
    margin-left: 15px;
}

footer .social a:hover {
    color: #ddd;
}
