@font-face {
    font-family: lokicola;
    src: url(../fonts/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald-Regular.ttf);
}

.dark_1 {
    background-color: #2B2D42;
}

.dark_2 {
    background-color: #8D99AE;
}

.light {
    background-color: #EDF2F4;
}

.red_1 {
    background-color: #EF233C;
}

.red_2 {
    background-color: #D90429;
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: lokicola;
    font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    /* Give a 0 value, because there will be some defaut value which is not 0 */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 {
    font-family: lokicola;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 7px;
    margin-top: 22px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.68rem;
  padding-bottom: 0.68rem;
  margin-right: 1rem;
  font-size: 1.15rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.15rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

.main-showcase {
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.info {
    float: left;
    margin: 5%;
    max-width: 30%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 15px;
}

.info h2 {
    color: rgba(0,102,153,1);
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.info h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info p {
    font-size: 15px;
    margin: 0px;
    line-height: 1.2;
}

.gallery.img-thumbnail {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0.25rem;
    margin: 5px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 150px;
    height: auto;
}

X3D, x3d {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

footer {
    color: white;
    padding: 10px 0;
}

footer .social a {
    color: white;
    margin-left: 15px;
}

footer .social a:hover {
    color: #ddd;
}
