@font-face {
    font-family: lokicola;
    src: url(../assets/fonts/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald-Regular.ttf);
}

.bg-red {
    background-color: #FF0000; /* Coca-Cola red */
}

.navbar-brand img {
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #ffffff22;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer .social a {
    color: #fff;
    margin-left: 15px;
}

footer .social a:hover {
    color: #ddd;
}
